#!/usr/bin/make -f

#DEB_INSTALL_DOCS_subtitlecomposer = KRAZY
DEB_KDE_LINK_WITH_AS_NEEDED := yes

include /usr/share/pkg-kde-tools/makefiles/1/cdbs/kde.mk
include /usr/share/cdbs/1/rules/debhelper.mk

install/subtitlecomposer::
	find debian/subtitlecomposer -type d -empty -delete
	dh_xine
